<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001084791359-02ujkudfoo9gihs2bnfdb3343js23cik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001084791359-02ujkudfoo9gihs2bnfdb3343js23cik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001084791359-69p37h7kskbe41bb17qjgcpdagg5d90a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDw7SnFej_D-Ecb-XrLk6rl1E6sWp6gon0</string>
	<key>GCM_SENDER_ID</key>
	<string>1001084791359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scratchScreen</string>
	<key>PROJECT_ID</key>
	<string>fir-course-kehnu</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-course-kehnu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001084791359:ios:dc6750041db6196887668a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-course-kehnu-default-rtdb.firebaseio.com</string>
</dict>
</plist>